{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block seo %}
    <meta name="description" content="{% trans "Sign in to EduAI to unlock personalized educational features and AI-powered learning tools designed to enhance your academic journey. Join a community dedicated to innovative and effective learning." %}">
    <meta name="keywords" content="{% trans "EduAI, sign in, login, personalized learning, AI education, educational platform, user access" %}">
    <meta property="og:title" content="{% trans "Sign In to EduAI - Personalized Learning Platform" %}">
    <meta property="og:description" content="{% trans "Access your EduAI account to enjoy tailored educational experiences powered by artificial intelligence. Dive into a smarter way to learn." %}">
    <meta property="og:image" content="{% static 'images/login.jpg' %}">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% trans "Sign In to EduAI - Personalized Learning Platform" %}">
    <meta name="twitter:description" content="{% trans "Log in to your EduAI account for access to AI-powered educational tools and a personalized learning experience." %}">
    <meta name="twitter:image" content="{% static 'images/login.jpg' %}">
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-image: url('{% static "images/background-login.jpg" %}');
            background-size: cover;
            background-position: center;
        }
        .sign-in-image {
            flex: 1;
            background-image: url('{% static "images/login.jpg" %}');
            background-size: cover;
            background-position: center;
        }
    </style>
{% endblock %}

{% block hero_section %}
{% endblock %}

{% block content %}
    <div class="container-fluid sign-in-container">
    <div class="sign-in-box">
        <!-- Left image -->
        <div class="sign-in-image d-none d-md-flex"></div>
        <!-- Right form -->
        <div class="sign-in-form">
            <h2>{% trans "Sign In" %}</h2>
            <p>{% trans "Sign in to enjoy the features of Edu AI Assistant" %}</p>

            {% if form.non_field_errors %}
                <div class="alert alert-danger">{{ form.non_field_errors }}</div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">{% trans "Username" %}</label>
                    <input style="border-radius: 20px;" type="text" class="form-control" id="username" name="username" placeholder="{% trans 'Username' %}" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">{% trans "Password" %}</label>
                    <input style="border-radius: 20px;" type="password" class="form-control" id="password" name="password" placeholder="{% trans 'Password' %}" required>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <a href="{% url 'password_reset' %}" class="form-link">{% trans "Forgot Password?" %}</a>
                </div>
                <button type="submit" class="btn btn-custom w-100">{% trans "LOGIN" %}</button>
                <div class="text-center mt-3">
                    <p>{% trans "Don't have an account?" %} <a href="{% url 'register' %}" class="form-link">{% trans "Sign Up" %}</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
