/* General styling */
body {
    font-family: 'Arial', sans-serif;
}

/* Scroll animations */
@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.scroll-left {
    opacity: 0;
    animation: slide-in-left 1s forwards;
}

.scroll-right {
    opacity: 0;
    animation: slide-in-right 1s forwards;
}

/* Adjust animations for mobile */
@media (max-width: 768px) {
    .scroll-left,
    .scroll-right {
        animation-duration: 1.5s;
    }
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav-link {
    font-size: 1rem;
    margin-right: 10px;
}

.navbar-toggler {
    border-color: #333;
}

/* Hero Section */
.hero-section {
    padding-top: 3rem; /* Adds spacing from the top */
}

.hero-section h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    color: #233876;
}

.hero-section .lead {
    color: #4A4A4A;
}

.hero-img {
    max-width: 90%; /* Ensures image does not exceed container width */
    height: auto;    /* Maintains aspect ratio */
}

/* Adjust padding for mobile */
@media (max-width: 768px) {
    .hero-section {
        padding-top: 2rem;
    }
    .hero-img {
        width: 100%; /* Make the image full width on small screens */
    }
}

.btn-dark {
    background-color: #111928;
    border-color: #111928;
    border-radius: 50px;
    font-size: medium;
}

/* Footer styling */
footer {
    background-color: #111928;
}

footer p {
    margin: 0;
    font-size: 14px;
}

.social-icons a {
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #233876;
}

